/.vs
/OxyPlotTest/obj
/OxyPlotTest/bin
/WpfExamples/obj
/WpfExamples/bin
/OxyPlotTest/*.user
/RealtimeTest/RealtimeTest.csproj.user
/RealtimeTest/bin
/RealtimeTest/obj
/RostopicTest/RostopicTest.csproj.user
/RostopicTest/bin
/RostopicTest/obj
/DynamicCreateTest/obj
/DynamicCreateTest/DynamicCreateTest.csproj.user
/DynamicCreateTest/bin
GraphCtrlLib/bin/Debug/net7.0-windows/GraphCtrlLib.deps.json
GraphCtrlLib/bin/Debug/net7.0-windows/GraphCtrlLib.dll
GraphCtrlLib/bin/Debug/net7.0-windows/GraphCtrlLib.pdb
GraphCtrlLib/obj/GraphCtrlLib.csproj.nuget.dgspec.json
GraphCtrlLib/obj/GraphCtrlLib.csproj.nuget.g.props
GraphCtrlLib/obj/GraphCtrlLib.csproj.nuget.g.targets
GraphCtrlLib/obj/GraphCtrlLib_jn0pkhds_wpftmp.csproj.nuget.dgspec.json
GraphCtrlLib/obj/GraphCtrlLib_jn0pkhds_wpftmp.csproj.nuget.g.props
GraphCtrlLib/obj/GraphCtrlLib_jn0pkhds_wpftmp.csproj.nuget.g.targets
GraphCtrlLib/obj/project.assets.json
GraphCtrlLib/obj/project.nuget.cache
GraphCtrlLib/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GeneratedInternalTypeHelper.g.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GeneratedInternalTypeHelper.g.i.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.csproj.AssemblyReference.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.csproj.CoreCompileInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.csproj.FileListAbsolute.txt
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.designer.deps.json
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.designer.runtimeconfig.json
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.dll
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.g.resources
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.pdb
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2dafnz5h_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2dafnz5h_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2dafnz5h_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2dafnz5h_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2f2vcheq_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2f2vcheq_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2f2vcheq_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_2f2vcheq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_e5znzpov_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_e5znzpov_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_e5znzpov_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_e5znzpov_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_jn0pkhds_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_jn0pkhds_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_jn0pkhds_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_jn0pkhds_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lf44r1nx_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lf44r1nx_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lf44r1nx_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lf44r1nx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_MarkupCompile.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_MarkupCompile.i.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_MarkupCompile.i.lref
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_MarkupCompile.lref
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_rgwbb4le_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_rgwbb4le_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_rgwbb4le_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_rgwbb4le_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sbismc1d_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sbismc1d_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sbismc1d_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sbismc1d_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sf21fvhs_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sf21fvhs_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sf21fvhs_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_sf21fvhs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uassxyvl_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uassxyvl_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uassxyvl_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uassxyvl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_upcj1ok0_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_upcj1ok0_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_upcj1ok0_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_upcj1ok0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_x5wh4qhv_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_x5wh4qhv_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_x5wh4qhv_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_x5wh4qhv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_xnkc5iyi_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_xnkc5iyi_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_xnkc5iyi_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_xnkc5iyi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/mapping.baml
GraphCtrlLib/obj/Debug/net7.0-windows/UserControl_Graph.baml
GraphCtrlLib/obj/Debug/net7.0-windows/UserControl_Graph.g.cs
GraphCtrlLib/obj/Debug/net7.0-windows/UserControl_Graph.g.i.cs
GraphCtrlLib/obj/Debug/net7.0-windows/UserControl1.baml
GraphCtrlLib/obj/Debug/net7.0-windows/UserControl1.g.cs
GraphCtrlLib/obj/Debug/net7.0-windows/UserControl1.g.i.cs
GraphCtrlLib/obj/Debug/net7.0-windows/ref/GraphCtrlLib.dll
GraphCtrlLib/obj/Debug/net7.0-windows/refint/GraphCtrlLib.dll
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_ijzzrucl_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_ijzzrucl_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_ijzzrucl_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_ijzzrucl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lujwhuug_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lujwhuug_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lujwhuug_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_lujwhuug_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_31s2tm5u_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_31s2tm5u_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_31s2tm5u_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_31s2tm5u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_5j5bjblb_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_5j5bjblb_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_5j5bjblb_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_5j5bjblb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_erb1xbom_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_erb1xbom_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_erb1xbom_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_erb1xbom_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_exqvmelf_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_exqvmelf_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_exqvmelf_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_exqvmelf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_irhso0vv_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_irhso0vv_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_irhso0vv_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_irhso0vv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_reihf1ks_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_reihf1ks_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_reihf1ks_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_reihf1ks_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/GraphCtrlLib_0liapjq3_wpftmp.csproj.nuget.dgspec.json
GraphCtrlLib/obj/GraphCtrlLib_0liapjq3_wpftmp.csproj.nuget.g.props
GraphCtrlLib/obj/GraphCtrlLib_0liapjq3_wpftmp.csproj.nuget.g.targets
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib.csproj.BuildWithSkipAnalyzers
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_0liapjq3_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_0liapjq3_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_0liapjq3_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_0liapjq3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_a25c2lsn_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_a25c2lsn_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_a25c2lsn_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_a25c2lsn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_eujmk03t_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_eujmk03t_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_eujmk03t_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_eujmk03t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_kb000rjq_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_kb000rjq_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_kb000rjq_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_kb000rjq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_odiekjmo_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_odiekjmo_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_odiekjmo_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_odiekjmo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_q24khc3a_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_q24khc3a_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_q24khc3a_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_q24khc3a_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uie2glqo_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uie2glqo_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uie2glqo_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_uie2glqo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_wzlr3zlr_wpftmp.AssemblyInfo.cs
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_wzlr3zlr_wpftmp.AssemblyInfoInputs.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_wzlr3zlr_wpftmp.assets.cache
GraphCtrlLib/obj/Debug/net7.0-windows/GraphCtrlLib_wzlr3zlr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
